html {
    box-sizing: border-box;
    display: flex;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:rgb(0,0,0,0.95);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    padding: 5px;
    flex-shrink: 0;
    color: white;
}


.container {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    flex-grow:  1;
    flex-shrink: 0;
    padding: 1px;
    margin: 0 auto;
}



.heart-box {
    height: 200px;
    width: 60px;
    border: 1px solid black;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
}

.icon {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}


.icon div { 
    width: 20px;
    height: 30px;
    background-color: red;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
}

.icon > .grey {
    background-color: #222831;
}


.left {
    transform: rotate(-45deg);
    margin-right: -6px;
    
}
  
.right {
    transform: rotate(45deg);
    margin-left: -6px;
}



.user {
    height: 520px;
    width: 400px;
    background-color: black;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.real {
    margin-right: auto;
}

.computer {
    margin-left: auto;
}

.user-choice,
.compu-choice {
    font-size: 30px;
    font-weight: 900;
}

.user div {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user div img:hover {
    cursor: pointer;
}

.user > div > img {
    max-width: 150px;
}

.user > div > .compu {
    max-width: 350px;
}



.card-header {
    height: 50px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-left: 10px;
    border-radius: 10px;
}


.vs {
    color: white;
    width: 150px;
    height: 150px;
    border: 1px solid white;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: rgb(0,0,0,0.95);
    border-radius: 10px;
}


footer {
    padding: 20px 0px;
    text-align: center;
}


.winner-box {
    color: white;
    width: 400px;
    height: 250px;
    border: 1px solid white;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(0,0,0);
    border-radius: 10px;
    position: fixed;
    left:0;
    right: 0;
    margin: 0 auto;
}

.col1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    margin-top: 50px;
}

.col1 > h2 {
    font-weight: 900;
    font-size: 30px;
    color: white;
}


.col2 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 15px 5px 5px;
    margin-top: auto;
    margin-bottom: 10px;
}

.col2 > button {
    width: 100px;
    height: 30px;
    background-color: #222831;
    border-radius: 10px;
    color: white;
    padding: 4px;
}